*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    box-sizing:border-box; 
}

#header{
    color: white;
}
#about{
    color: white;
}
#projects{
    color: white;
}
#resume{
    color: white;
}
#testimonials{
    color: white;
}
#contact-info{
    color: white;
}

body {
    background-image: linear-gradient(to right ,#BF2BE4 0%, #36383C 38% , #109D04 100%);
}

nav{
    background-image: linear-gradient(to right ,#BF2BE4 0%, #36383C 38% , #109D04 100%);
}

.navbar{
    position: sticky;
}

.nav-link{
    color: white;
}

hr{
    color:black;
}

img{
    width: 100px;
    height: 100px;
}

.img-thumbnail{
    width: 250px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    text-align: center;
    padding: 20px;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right ,#9f3ab8 0%, #2b2c2d 50%, #2d8425 100%)
}

.btn{
    background-image: linear-gradient(to right ,#BF2BE4 0%, #36383C 38% , #109D04 100%);
    color: white;
    width: 250px;
}

.arrow{
    color: #109D04;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 300px;
    height: 350px;
    border-radius: 50%;
    display: block;
}

section{
    display:flex;
    justify-content:space-evenly;
}

.about{
    border: solid;
    font-size: larger;
}

.cont{
    display: flex;
    justify-content: space-evenly;
}

.card-text{
    color:black
}

.card{
    border-radius: 10px;
    background-color: #bcc1c6;
}

.project{
    display: flex;
    justify-content: space-evenly;
}

#button{
    border-radius: 30px;
    width: fit-content;
    margin: 10px;
}

.test1{
    display: flex;
    justify-content: space-evenly;
}

.test2{
    display: flex;
    justify-content: space-evenly;
}

#card-img-top1{
    padding: 10px;
    height: 230px;
    width: 250px;
}

#card-img-top2{
    padding: 10px;
    height: 330px;
    width: 250px;
}

.myWhatsapp{
    width: 15px;
    height: 15px;
}

.house{
    width: 15px;
    height: 15px;
}

.mail{
    width: 15px;
    height: 15px;
}

.linkedin{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.insta1{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.insta2{
    width: 15px;
    height: 15px;
}

.git1{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.git2{
    width: 15px;
    height: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

#bam{
    margin-left: auto;
    margin-right: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sub{
    color: rgb(80, 78, 78);
}

.links{
    display:flex;
    justify-content:center;
}

@media only screen and (max-width:600px) {
    section{
        display: inline;
        flex-wrap: wrap;
    }
    
    .cont{
        flex-wrap: wrap;
    }
}