*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    box-sizing:border-box; 
}

#header{
    color: white
}
#about{
    color: white
}
#projects{
    color: white
}
#resume{
    color: white
}
#testimonials{
    color: white
}
#contact-info{
    color: white
}

body {
    background-image: linear-gradient(to right ,#BF2BE4 0%, #36383C 38% , #109D04 100%);
}

nav{
    background-image: linear-gradient(to right ,#BF2BE4 0%, #36383C 38% , #109D04 100%);
}

.navbar{
    position: sticky;
}

.nav-link{
    color: white;
}

hr{
    color:black
}

img{
    width: 100px;
    height: 100px;
}

.img-thumbnail{
    width: 250px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    text-align: center;
    padding: 20px;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right ,#9f3ab8 0%, #2b2c2d 50%, #2d8425 100%)
}

.btn{
    background-image: linear-gradient(to right ,#BF2BE4 0%, #36383C 38% , #109D04 100%);
    color: white;
    width: 250px;
}

.arrow{
    color: #109D04;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 300px;
    height: 350px;
    border-radius: 50%;
    display: block;
}

section{
    display:flex;
    justify-content:space-evenly; 
}

.about{
    border: solid;
    font-size: larger;
}

.cont{
    display: flex;
    justify-content: space-evenly;
}

.card-text{
    color:black
}

.card{
    border-radius: 100px;
    background-color: #bcc1c6;
}